---
---

@import "{{ site.theme }}";
h1 { 
  text-align: center !important; 
  line-height: 100%;
}
h3 { 
  text-color: #06275b !important;
  color: #334 !important;
}
header, footer, #downloads {
  visibility: hidden;
  display: none;
}
header {
  margin: -36px;

}
